@use '../util' as *;

.toggle {
  display: flex;
  border: none;
  margin: 0;
  margin-top: rem(20);
  padding: 0%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint-down(small) {
    width: 100%;
    justify-content: space-between;
  }

  p {
    font-weight: 700;
    font-size: rem(14);
    cursor: pointer;
    margin-right: rem(30);
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: rem(60);
    height: rem(34);

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--toggle-bg);
    border-radius: rem(34);
    transition: 0.35s ease-in-out;

    &::before {
      position: absolute;
      content: "";
      height: rem(26);
      width: rem(26);
      right: rem(4);
      bottom: rem(4);
      background-color: var(--background);
      border-radius: 50%;
      transition: 0.35s ease-in-out;
    }
  }
}

body.dark .toggle__slider::before {
  transform: translateX(rem(-26));
}
